* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.specific-div-card {
  margin: 5px;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 15px;
  border-radius: 10px;
  gap: 1.5rem;
  background-color: var(--accent-background, var(--tr-background-list, black));
  color: whitesmoke;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 6rem;
}

.board {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card {
  background-color: rgb(48, 121, 204);
  border-radius: 4px;
  padding-bottom: 6px;
}

.cards-outer-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checklist-outer-container {
  display: flex;
  justify-content: space-between;
}

.upper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.abc {
  background-color: hsla(206, 13.7%, 10%, 0.9) !important;
  color: rgb(209, 213, 219) !important;
}

.abc::placeholder {
  color: rgb(209, 213, 219) !important;
}
